.selected {
    background-color: lightgrey;
}

.sidebar {
  overflow-y: scroll;
  overflow-x: hidden;
  max-height:  calc(100vh - 50px) !important;
  min-height:  calc(100vh - 50px) !important;

}

.sidebar-menu {
    font-size: 0.9em;
}


.sidebar-menu .menu-icon {
    float: left;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    line-height: 35px;
}

h4.header {
    padding-left: 13px;
}

.sidebar-menu>li>a{
    border-left:0;
    padding: 5px 5px 17px 12px;
}

.control-sidebar>.tab-content {
    padding : 0;
}

.main-sidebar {
    padding-top: 0;
    min-height:initial;
}

.menu-info {
    padding : 10px 0 10px 15px
}

a > div {
    color : #333333;
}

a.active > div{
    background: #3c8dbc45;
    border: 1px solid #3c8dbc65;
    border-radius: 5px;
}

.skin-blue .sidebar a {
    color: #8aa4af;
}
.box-teams{
    background-color: #605CA805;
    border: 1px solid #605CA825;
    border-radius: 5px;
    margin: 5px 0 5px 0;

}

@media (min-width: 768px){
    .main-footer {
        margin-right: 0;
    }
    .TeamSelectorOptions{
        display: none;
    }
    .TeamSelector{
        display: block;
    }
}

@media (max-width: 768px){
    
    .TeamSelectorOptions{
        display: block;
    }
    .TeamSelector{
        display: none;
    }
}
