.selected {
    background-color: lightgrey;
}

.content-wrapper{
    margin-right:0;
    /* min-height: 641px; */
}

.content {
    /* min-height: 671px; */
}

.sidebar {
    
    margin-top: 64px;
    overflow-y: scroll;
    padding-bottom: 0;
}

.sidebar-menu {
    font-size: 0.9em;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: black; 
}
  
::-webkit-scrollbar-thumb {
    background:#374850; 
}

.sidebar-menu .menu-icon {
    float: left;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    line-height: 35px;
}

h4.header {
    padding-left: 13px;
}

.sidebar-menu li {
    padding: 5px 0px 5px 0px;
}

.sidebar-menu>li>a{
    border-left:0;
    padding: 5px 5px 17px 12px;
}

.control-sidebar>.tab-content {
    padding : 0;
}

.main-sidebar {
    padding-top: 0;
    min-height:initial;
}

.menu-info {
    padding-left: 3.5em;
    padding-top: 0.5em;
}

a.active {
    background: #2c3b41;
    color: white;
}

.skin-blue .sidebar a {
    color: #8aa4af;
}

@media (min-width: 768px){
    .main-footer {
        margin-right: 0;
    }
}


 
