.selected {
    background-color: lightgrey;
}
a.active {
    background: #dcdcdc!important;
}
.control-sidebar-heading {
    margin-top: 5px;
    margin-bottom: 12px;
    text-align: center;
}

.control-sidebar-menu i {
    font-style: unset;
}

.control-sidebar {
    padding-top: 0;
    overflow-y: scroll;
    height: 910px;
}
