<div class="content-wrapper" *ngIf="teams" id="main-content">

  <div class="container-fluid">
    <app-team-detail [team]="selectedTeam" *ngIf="selectedTeam"></app-team-detail>
    <section class="content">
      <!--  TeamDetailComponent -->
    
      <!-- select option des équipes-->
      <div class="col-xs-12 TeamSelectorOptions">
        <div class="box-body" style="">
          <div class="form-group">
            <label>Equipe de : <strong>{{selectedAgence.nom}}</strong></label>
            <select class="form-control" (change)="onSelectTeam($event.target.value)">
              <ng-container *ngFor="let team of teams; let i=index">
                <option value="{{team.ihniTeam.info.id}}" (click)="onSelect(team, i)" *ngIf="team.ihniTeam.info.agence.id === selectedAgence.id && team.ihniTeam.info.id !== selectedTeam.ihniTeam.info.id" >
                  {{ team.ihniTeam.info.name }}
                </option>
                <option value="{{team.ihniTeam.info.id}}" selected (click)="onSelect(team, i)" *ngIf="team.ihniTeam.info.id === selectedTeam.ihniTeam.info.id">
                    {{ team.ihniTeam.info.name }}
                </option>
              </ng-container>
            </select>
          </div>
        </div>
      </div>
      <!-- fin du select-->
      <div class="col-md-3 TeamSelector">
        <div class="box box-default">
          <div class="box-header with-border">
            <h3 class="box-title">Equipe de : <strong>{{selectedAgence.nom}}</strong></h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body overflow-box" style="">
            <ul class="products-list product-list-in-box">
              <ng-container *ngFor="let team of teams; let i=index">
                <li class="box-teams" *ngIf="team.ihniTeam.info.agence.id === selectedAgence.id">
                  <a href="#" (click)="onSelect(team, i)" [class.active]="team.ihniTeam.info.id === selectedTeam.ihniTeam.info.id">
                    <div class="menu-info">{{ team.ihniTeam.info.name }}</div>
                  </a>
                </li>
              </ng-container>
            </ul>
          </div>
          <!-- /.box-body -->
        </div>        
      </div>
      <div class="col-md-9 col-xs-12">
        <!-- UpButton -->
        <div class="team-nav visible-xs" *ngIf="selectedTeam.id > 0" >
          <a href="#" class="btn btn-default btn-block btn-flat" (click)="onSelect(teams[selectedTeam.id - 1], selectedTeam.id - 1)">
            <i class="fa fa-angle-up"></i>
            <div>{{ teams[selectedTeam.id - 1].ihniTeam.info.name }}</div>
          </a>
        </div>
        <!-- end UpButton -->

        
        <!-- UserList => TeamUsersComponent -->
        <app-team-users [team]="selectedTeam" [teams]="teams" *ngIf="loaded; else loading"></app-team-users>
        <ng-template #loading><app-spinner></app-spinner></ng-template>
        <!-- end UserList -->

        <!-- DownButton -->
        <div class="team-nav visible-xs" *ngIf="teams && selectedTeam.id < teams.length-1"  >
          <a href="#" class="btn btn-default btn-block btn-flat" (click)="onSelect(teams[selectedTeam.id + 1], selectedTeam.id + 1)">
            <i class="fa fa-angle-down"></i>
            <div>{{teams[selectedTeam.id + 1].ihniTeam.info.name}}</div>
          </a>
        </div>
        <!-- end DownButton -->
      </div>

    </section>
  </div>
</div>

<!-- FooterComponent -->
<app-footer></app-footer>

