<p>
  liste works!
</p>
  
<div class="box-body">
  <div *ngFor="let item of fiches">
      <div class="col-md-6">
          <div class="box box-widget widget-user-2">
            <div class="widget-user-header bg-aqua-active">
              <div class="widget-user-image">
                <img class="img-circle" src="../../../assets/img/user1.jpg" alt="photo">
              </div>
              <h3 class="widget-user-username" role="button" [routerLink]="['/details',item.ficheId]" data-toggle="modal" data-target="#detailModal">{{item?.nom +" "+item?.prenom}}</h3>
              <h5 class="widget-user-desc">{{item?.poste}}</h5>
            </div>
          </div>
      </div>
    </div>
</div>