<section class="content-header">
    <div class="row">
        <div class="">
            <div class="input-group">
                <!-- <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Mes équipes
                        <span class="fa fa-caret-down"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li *ngFor='let teamRole of myTeams'>
                            <a href="#" (click)="onSubmitTeam(teamRole.equipe)">{{teamRole.equipe.name}}</a>
                        </li>
                    </ul>
                </div> -->
                
                <input type="text" class="form-control" #searchBox id="search-box" (keyup)="search(searchBox.value)" placeholder="Rechercher un collaborateur..."
                    data-toggle="dropdown">
                <ul class="search-result dropdown-menu user-dropdown">
                        <li *ngFor="let user of users$ | async">
                                <a href="#" (click)="onSubmitTeam(user.teamId)">
                                    <span>{{user.label}}</span>
                                    <small>{{user.subLabel}}</small>
                                </a>
                        </li>
                </ul>
            </div>
        </div>
    </div>
</section>

    