<section class="content-header">
    <div class="row">
        <div class="col-md-6 col-md-offset-3"><div class="input-group">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Mes équipes
                        <span class="fa fa-caret-down"></span></button>
                    <ul class="dropdown-menu">
                        <li><a href="#">CDS JAVA</a></li>
                        <li><a href="#">AT MMA</a></li>
                    </ul>
                </div>
                <!-- /btn-group -->
                <input type="text" class="form-control" placeholder="Rechercher un utilisateur ...">
                <div class="input-group-btn">
                    <button type="button" class="btn"><i class="fa fa-search"></i></button>
                </div>
            </div></div>
    </div>
</section>