input#file {
    width: 148px;
}
.modal-header {
    min-height: 100px;
}
.modal-content {
    border-radius: 3px !important;
}
.img-circle {
  background-color: lightgrey;
  text-align: center;
  line-height: 196%;
  font-size: 5em;
  font-weight: bold;
  height: 140px;
  width: 140px;
  color: white;
  display: block;
}
.users-list-name{
    text-align: center;
    color: white;
    margin-top: -50px;
}
.user-modal-img{
    width: 140px;
    margin-bottom: 15px;
}
.mobileCompetence{
    margin-top: 0;
}