<div class="modal fade" id="user-modal" style="display: none;" >
  <div class="modal-dialog" [ngSwitch]="loaded">
    <div class="modal-content" *ngSwitchCase="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
        <h1 class="modal-title">{{model.ihniUser.info.prenom}} {{model.ihniUser.info.nom}}
        </h1>
        <app-messages></app-messages>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-4">
            <div class="user-modal-img">
                <img class="img-circle" [src]="avatarUrl" alt="{{model.ihniUser.info.prenom | slice:0:1 | uppercase}} {{model.ihniUser.info.nom | slice:0:1 | uppercase}}" *ngIf="avatarUrl">
                <div class="img-circle" *ngIf="!avatarUrl">{{model.ihniUser.info.prenom | slice:0:1 | uppercase}} {{model.ihniUser.info.nom | slice:0:1 | uppercase}}</div>
            </div>
          </div>
          <div class="col-sm-8">
            <form class="form-horizontal" (ngSubmit)="onSubmit()" #userForm = "ngForm">
              <div class="form-group">
                <label class="col-sm-6 control-label">Equipe actuelle</label>
                <div class="col-sm-6">
                  <select class="form-control multsel" id="input_team" multiple="multiple" style="width: 100%" disabled>
                    <option *ngFor="let teamRole of model.ihniUser.equipes_role" value="teamRole.equipe.name" selected="selected">{{teamRole.equipe.name}}</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">Rôle</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="input_role" value="{{model.ihniUser.info.jobName}}" disabled="">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-6 control-label">Anciennes équipes</label>
                <div class="col-sm-6">
                  <select class="form-control multsel" id="teamH" style="width: 100%"  name = "teamH" multiple="multiple" [disabled]="!auth.isOwner(selectedUser)">
                    <option *ngFor="let team of teams" [value]="team.ihniTeam.info.id">{{team.ihniTeam.info.name}}</option>
                  </select>
                </div>
              </div>

              <div class="modal-footer" *ngIf="auth.isOwner(selectedUser)">
                  <button type="button" (click)="onClose()"  class="btn btn-default" data-dismiss="modal">Fermer</button>
                  <button type="submit" class="btn btn-primary">Sauvegarder</button>
                </div>
            </form>
          </div>
          <div class="col-md-12">
            <a href="{{urlSkillex}}{{model.ihniUser.info.id}}" class="users-list-name btn btn-primary pull-left" [class.mobileCompetence]="!auth.isOwner(selectedUser)">Voir ses compétences</a>
          </div>
        </div>
      </div>

    </div>
    <div *ngSwitchDefault class="modal-content">

      <img src="assets/img/loading2.gif" style="margin-left: 200px;padding: 200px 0 200px 0;">
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
