<div *ngIf="team">   
    <section class="content-header">
        <h1>
            <i class="fa fa-fw fa-group text-red"></i> {{ team.ihniTeam.info.name }}
        </h1>
    </section>
</div>
<!--Team edit Modal-->
<div class="modal fade" id="team-edit-modal" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <app-team-detail-form [team]="team"></app-team-detail-form>
        </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
