<aside class="main-sidebar" *ngIf="team">
    <section class="sidebar" >
        <div class="user-panel">
            <div class="info-equipe">

                <h2>{{ team.ihniTeam.info.name }}</h2>

            </div>
        </div>
        <ul class="sidebar-menu">
            <li class="header">INFO de L'EQUIPE</li>
            <li><i class="fa fa-paw text-aqua"></i>Pilote : {{team.ihniTeam.info.pilote.prenom}} {{team.ihniTeam.info.pilote.nom}}</li>
            <!-- <li><i class="fa fa-calendar text-aqua"></i>Créé le : {{team.ihniTeam.info.createdAt.date | date:'dd/MM/yyyy'}}</li> -->
            <!-- <li><i class="fa fa-users text-aqua"></i>Nb user : {{ team.ihniTeam.users.length }}</li> -->
            <li class="description">
                <i class="fa fa-question-circle text-aqua"></i>Description :
                <p [froalaView]="team.kiTeam.description"></p>
                <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#team-edit-modal" *ngIf='isPilote'><i class="fa fa-pencil"></i> Editer</a>
            </li>
            <li></li>
        </ul>
    </section>
    
  <!-- /.content -->
</aside>
<!--Team edit Modal-->
<div class="modal fade" id="team-edit-modal" style="display: none;">
    <div class="modal-dialog">
      <div class="modal-content">
            <app-team-detail-form [team]="team"></app-team-detail-form>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
