/*
@media (min-width: 768px){
    .main-footer {
        margin-right: 0px;
        margin-left: 0px;
    }
}
*/

/*
.main-footer {
    background: black;
    border:none;
    color: #b8c7ce;
    padding-top: 35px;
}*/
