<!-- Sidebar -->
<aside class="main-sidebar" *ngIf="bus">
    Agence Index : {{agenceIndex}}
    <!-- Content of control sidebar goes here -->
    <section class="sidebar">
      <div class="tab-content">
        <app-team-search (submitedTeam)="onSubmitedTeam($event)"></app-team-search>
        <ng-container *ngFor="let bu of bus; let i=index">
          <div>
            <h3>{{ bu.nom }}</h3>
            <ul class="sidebar-menu">
              <ng-container *ngFor="let agence of bu.agences; let i=index">
                <li>
                  <a href="#" (click)="onSelect(agence, i)">
                    <div class="menu-info"> {{ agence.nom }} </div>
                  </a>
                </li>
              </ng-container>
            </ul>
          </div>
        </ng-container>
      </div>
    </section>
  </aside>

  <app-teams [selectedAgence]="selectedAgence" [selectedTeam] = "selectedTeam"></app-teams>