<div [@flyInOut] = "state" class="height100">

  <div class="nav-tabs-custom height100">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#tab_1" data-toggle="tab"><i class="fa fa-fw fa-sitemap fontIcon"></i> Organigramme</a></li>
      <li><a href="#tab_2" data-toggle="tab"><i class="fa fa-fw fa-address-card fontIcon"></i> Information</a></li>
    </ul>
    <div class="tab-content overflow-box">
      <div class="tab-pane active" id="tab_1">
        <!-- Pilote -->
        <ul class="users-list clearfix">
            <div *ngFor="let wrapper of team.ihniTeam.users">
              <li *ngIf="wrapper.role !== 'pilote'" style="display: none;">
              </li>
              <li *ngIf="wrapper.role == 'pilote'">
                  <a href="#" class="user-link" data-toggle="modal" data-target="#user-modal" (click)="onSelect(wrapper.user)" *ngIf="wrapper.role == 'pilote'">
                      <img class="img-circle-avatar-pilot" [src]="wrapper.user.avatar" alt="{{wrapper.user.prenom | slice:0:1 | uppercase}} {{wrapper.user.nom | slice:0:1 | uppercase}}" *ngIf="wrapper.user.avatar"/>
                      <span class="img-circle pilot-img" *ngIf="!wrapper.user.avatar">{{wrapper.user.prenom | slice:0:1 | uppercase}} {{wrapper.user.nom | slice:0:1 | uppercase}}</span>
                      <h3 class="users-list-name">{{ wrapper.user.prenom }} {{ wrapper.user.nom }}</h3>
                      <h4 class="users-list-job">{{ wrapper.user.jobName }}</h4>
                  </a>
              </li>
            </div>
          </ul>

        <!-- end Pilote -->
        <!-- Utilisateurs -->
        <!-- <h2 class="page-header">Utilisateurs</h2> -->
        <ul class="users-list clearfix row">
          <div *ngFor="let wrapper of team.ihniTeam.users; let i=index;" >
            <div class="col-xs-6 col-md-2 user-puce" *ngIf="wrapper.user.pilote !== true && wrapper.user.active">
              <li >
                  <a href="#" class="user-link" data-toggle="modal" data-target="#user-modal" (click)="onSelect(wrapper.user)" *ngIf="wrapper.role !== 'pilote'">
                    <img class="img-circle-avatar" [src]="wrapper.user.avatar" alt="{{wrapper.user.prenom | slice:0:1 | uppercase}} {{wrapper.user.nom | slice:0:1 | uppercase}}" *ngIf="wrapper.user.avatar"/>
                    <span class="img-circle blue-8" *ngIf="!wrapper.user.avatar">{{wrapper.user.prenom | slice:0:1 | uppercase}} {{wrapper.user.nom | slice:0:1 | uppercase}}</span>
                    <h4 class="users-list-name">{{ wrapper.user.prenom }} {{ wrapper.user.nom }}</h4>
                    <h5 class="users-list-job" *ngIf="wrapper.user.jobName !== ''">{{ wrapper.user.jobName }}</h5>
                    <h5 class="users-list-job color-invisible" *ngIf="wrapper.user.jobName == null">na</h5>
                  </a>
              </li>
            </div>
          </div>
          </ul>
      </div>
      <!-- /.tab-pane -->
      <div class="tab-pane" id="tab_2">
        <app-team-informations [team]="team"></app-team-informations>
      </div>
      <!-- /.tab-pane -->
    </div>
    <!-- /.tab-content -->
  </div>
  
</div>

<!-- end Utilisateurs -->
<!--User modal-->
<app-team-user-form [selectedUser]="selectedUser" [selectedTeam]="team" [teams]="teams"></app-team-user-form>
