.widget-user-header {
    min-height: 110px;
}
.img-circle {
  background-color: lightgrey;
  text-align: center;
  line-height: 220%;
  font-size: 2em;
  font-weight: bold;
  height: 65px !important;
  width: 65px;
}

@media screen and (max-width: 1585px) {
    .widget-user-header {
        height: 144px;
    }
}
@media (min-width: @screen-lg-min){
    .display-flex {
        display: flex;
        flex-wrap: wrap;
    }
}
