.widget-user-header {
    min-height: 110px;
}
.img-circle {
  background-color: #605ca855;
  font-size: 2em;
  font-weight: bold;
  padding: 25px;
  margin-bottom: 10px;
  color: white;
}
.users-list-name{
    margin-top: 30px;
}
.users-list{
    margin-top: 30px;
    text-align: center;
}
.user-puce{
    margin-bottom: 30px;
}
.color-invisible{
    color: #ffffff00;
}
@media screen and (max-width: 1585px) {
    .widget-user-header {
        height: 144px;
    }
}
@media (min-width: @screen-lg-min){
    .display-flex {
        display: flex;
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 340px ){
    .img-circle{
        padding: 20px;
    }
}