
<div>
    <!-- Widget: user widget style 1 -->
    <div class="box box-widget widget-user col-md-8">
      <!-- Add the bg color to the header using any of the bg-* classes -->
      <div class="widget-user-header bg-aqua-active">
        <h3 class="widget-user-username">{{fiche?.nom}}</h3>
        <h5 class="widget-user-desc">{{fiche?.prenom}}</h5>
        <i type="button" class="fa fa-pencil pull-right" aria-hidden="true" role="button" [routerLink]="['/fiche',fiche.ficheId]"></i>
        
      </div>
      <div class="widget-user-image">
        <img class="img-circle" src="../../../assets/img/user1.jpg" alt="Photo utilisateur">
      </div>
      
      <div class="box-footer">
        <div><b>Parcours Sodifrance : </b></div>
        <div *ngFor="let item of fiche.parcours">
            <div class="text-center">{{item}} </div>
        </div>

        <div><b>Né le : </b></div>
        <div class="text-center">{{fiche?.dateN}} </div>
        <div class="text-center">{{fiche?.nbrEnfant}} </div>
        
      </div>
    </div>
    <!-- /.widget-user -->
  </div>