form{
    height: 100%;
}

.buttons{
    position: absolute;
    bottom: 30px; 
    right: 24px;
}

.bg-primary {
    color: black;
}

.info-box-text{
    font-weight: bold;
}

.info-box-number{
    font-weight: normal;
}

.error{
    color: red;
    font-size: smaller;
}

input{
    width: 80%;
}

.form-control {
    display: inline;
    border: 0;
}

.input-group .form-control {
    background: white;
    border-radius: 3px;
    border: none;
    width: 95%;
    margin: auto;
    color: #b8c7ce;
    float:none;
}
.input-group-addon i{
    cursor: default;
}
.input-group-addon{
    border-color: #a9a9a9;
}
.row {
    margin-right: 0;
    margin-left: 0;
}
.input-group .form-control:focus{
    background: white;
}

.dropdown-menu {
    padding:10px;
    border:0;
    /*margin: 2px 3px 0;*/
    background-color:lightgray;
}
.dropdown-menu>li>a {
    padding: 5px 9px;
    display: inline-block;
    width: 100%;
}
.dropdown-menu>li>a>span{
    display: block;
}

.dropdown-menu>li>a:hover {
    color: white;
    /* background-color:#374850; */
    background-color:grey;
}
.input-group-addon{
    padding: 4px 12px;
}
.etiquette_competence{
    margin: 0px 5px 0px 0px;
    padding: 2px 8px 2px 5px;
    background-color: #3c8dbc;
    color: white;
    border-radius: 5px;
}
.box-tag-competence{
    margin-top: 5px;
}