<div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-text">Type</span>
            <span class="info-box-number">Centre de service</span>
        <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>

    <!-- /.col -->
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
        <span class="info-box-text">En activité depuis</span>
        <span *ngIf="team.kiTeam.activitySince" class="info-box-number">{{team.kiTeam.activitySince | date: 'dd/MM/yyyy'}} </span>
        <span *ngIf="!team.kiTeam.activitySince" class="info-box-number">Date non renseignée</span>
        
        <input *ngIf="pilote" ngbDatepicker (click)="datePicker.toggle()" #datePicker="ngbDatepicker" formControlName="startDate" placeholder="yyyy-mm-dd" 
            (dateSelect)="onDateSelect($event)">

        <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
        
        <span class="info-box-text">Effectifs</span>
        <span class="info-box-number">{{ team.ihniTeam.users.length }}</span>

        <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>

</div>


<br/>
<div class="row">
    <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-text">Référent applicatif / technique</span>
            <span *ngIf="referent" class="info-box-number"> {{team.kiTeam.description}} </span>
            <span *ngIf="!referent" class="info-box-number">Pas de référent renseigné</span>
            <span class="info-box-number">{{referent}}</span>


                <div class="input-group" *ngIf="pilote">
                    <input type="text" class="form-control" #searchBox id="search-box" (keyup)="search(searchBox.value)" placeholder="Changer le référent..."
                        data-toggle="dropdown">
                    <ul class="search-result dropdown-menu user-dropdown">
                            <li *ngFor="let user of users$ | async">
                                    <a href="#" (click)="onSubmitUser(user)">
                                        <span>{{user.info.prenom}} {{user.info.nom}}</span>
                                        <small></small>
                                    </a>
                            </li>
                    </ul>
                </div>
        </div>
    </div>

</div>



<div class="row">
    <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-text">Description de l'activité</span>
            <span class="info-box-number">
                <span *ngIf="team.kiTeam.description"> {{team.kiTeam.description}} </span>
                <span *ngIf="!team.kiTeam.description">Pas de description renseignée</span>
            </span>
        </div>
    </div>

</div>


<div class="row">
    <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-text">Langage / Frameworks</span>
            <span class="info-box-number">...</span>
        </div>
    </div>

</div>